@charset "utf-8";

html {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei" !important;
    color: #555555;
    width: 840px;
    margin: 0 auto;
    background-color: #fff;
}

hr {
    margin: 2.2em 0;
    border-top: 1px dashed #d0d0d0;
    border-bottom: 1px dashed #f9f9f9;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    color: #222222;
}

h1{
    line-height: 1.5em;
    margin-top: 1.2em;
}

h2{
    line-height: 1.5em;
    margin-top: 1.5em;
}

h3,h4,h5{
    line-height:26px;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em
}

h4 {
    font-size: 1.1em
}

h5 {
    font-size: 1.0em
}

ul, ol {
    line-height: 26px;
}

ul{
    padding: 5px 0px;
    margin-left:20px;
}

ul li{
    padding: 0;
    margin: 0;
}

blockquote {
    border-left: 0.4em solid #DDD;
    margin: 15px 0 25px 0;
    padding: 0 15px;
    color: #777;
}

pre {
    font-family: Panic Sans, Luxi Mono, "Courier New", Monaco;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dddddd;
    border-left: 0;
    margin: 20px 0;

}

th, td {
    border-left: 1px solid #dddddd;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

blockquote {
    display: block;
    text-align: justify;
    border-left: 4px solid #eeeeee;
    margin: 1em 0;
    padding-left: 1.5em;
}

a{
    color: #408ad2;
    text-decoration: none;
}

a:hover{
    color: #0b61a4;
    text-decoration: underline;
}

strong {
    color: #060606;
    font-weight: normal;
    font-size: 1.1em;
}

/* header */

#header{
    position: relative;
    display: inline;
    margin: 0.2em 0 -1em 0;
}

#header h1{
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 2em;
    line-height: 3em;
    margin: 0.2em 0 -1em 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#header a{
    margin: 0;
    display: inline-block;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    text-decoration: none;
    color: #000000;
    padding: 1px 15px;
}

#header a:hover, #header a.current:hover{
    color: #408ad2;
}

/* nav */

#nav {
    display: inline;
    width: 400px;
    float: right;
    margin: 10px -10px 10px 0;
    padding: 0;
}

#nav li{
    display: inline-block;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav a {
    margin: 0 .5em;
    display: inline-block;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    text-decoration: none;
    color: #000000;
    padding: 1px 15px;
}

/* content */

#content {
    color: #333;
    margin-top: 10px;
    margin-bottom: 70px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
    font-size: 14px;
    line-height: 22px;
}

#content p{
    line-height: 24px;
    margin: 15px 0;
    letter-spacing: 1px;
    word-wrap:break-word;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

#content p a:hover{
    color: #0b61a4;
    text-decoration: underline;
}

#content p a{
    color: #408ad2;
}

#content hr{
    margin: 3.0em 0;
    border-top: 1px dashed #e5e5e5;
}

#content .comments{
    margin: 85px 0 35px 0;
}

#content code{
    border: 1px solid #e0e0e0;
    background: #fffff0;
    padding: 3px 5px;
    margin: 0 2px;
    font-size: 13px;
    font-family: Monaco, Consolas, Menlo, "Courier New", monospace;
    border-radius: 3px;
    color: #db4937;
}

#content blockquote{
    display: block;
    text-align: justify;
    border-left: 4px solid #eeeeee;
    margin: 0.8em 0 1.6em 0;
    padding-left: 1.0em;
}

#content img{
    max-width: 100%;
    margin: 0;
    border: 1px solid #ddd;
    padding: 0;
    border-radius: 5px;
}

#content h2.title, #content h1{
    color: #333;
    font-size: 1.8em;
    line-height: 2.1em;
    text-align: left;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: "SecretTypewriterRegular","Helvetica Neue",arial,sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* meta */

.meta{
    vertical-align:middle;
    line-height:20px;
    font-size:12px;
    color: #999;
}

/* datetime */

.datetime {
    background: transparent url(/static/img/icon-time.png) no-repeat;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: 5px;
}

/* categories */

.categories{
    background: transparent url(/static/img/icon-categories.png) no-repeat;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-right: 5px; 
}

.categories a{
    color:#999;
}

.categories a:hover{
    color: #408ad2;
    text-decoration: none;
}

/* tags */

.tags{
    background: transparent url(/static/img/icon-tags.png) no-repeat;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: 5px; 
}

.tags a{
    color:#999;
}

.tags a:hover{
    color: #408ad2;
    text-decoration: none;
}

/* paginator */

.pager{
    position: relative;
    height: 18px;
    margin: -40px 0 60px 0;
}

.pager a{
    float:left;
    letter-spacing: 1px;
    padding:0 14px;
    line-height:34px;
    text-decoration:none;
}

.pager a:hover,.pager .active a{
    color: #fff;
    background-color: #408ad2;
    border-radius: 5px;
}

.pager .next{
    position: absolute;
    right: 5px;
}

.pager .pre{
    position: absolute;
    left: 5px;
}

.pager .pre_disabled{
    display: none;
}

.pager .next_disabled{
    display: none;
}
.pager  ul{
    float: left;
    margin: 0;
}

.pager  li{
    display: inline;
}

/* tag_cloud */

#tag_cloud{
    margin-bottom: 1em;
}

#tag_cloud a{
    color: #408ad2;
    text-decoration:none;
}

#tag_cloud a:hover{
    color: #fff;
    background-color: #408ad2;
    text-decoration:none;
    border-radius: 2px;
}

/* listing */

.listing-item,.listing-seperator{
    list-style-type:none;
}

.listing-item a{
    padding:.2em 1em;
}

.listing-item time{
    color:#999999;
}

.listing-seperator{
    font-weight:bold;
}

/* footer */

#footer{
    font-size: 12px
}

#footer  p{
    color: #666;
}

#footer  a{
    color: #408ad2;
}
#footer a:hover{
    color: #0b61a4;
    text-decoration: underline;
}

/*pygments*/

.hll { background-color: #ffffcc }
.c { color: #60a0b0; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #007020; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.cp { color: #007020 } /* Comment.Preproc */
.c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.kp { color: #007020 } /* Keyword.Pseudo */
.kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.kt { color: #902000 } /* Keyword.Type */
.m { color: #40a070 } /* Literal.Number */
.s { color: #4070a0 } /* Literal.String */
.na { color: #4070a0 } /* Name.Attribute */
.nb { color: #007020 } /* Name.Builtin */
.nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.no { color: #60add5 } /* Name.Constant */
.nd { color: #555555; font-weight: bold } /* Name.Decorator */
.ni { color: #d55537; font-weight: bold } /* Name.Entity */
.ne { color: #007020 } /* Name.Exception */
.nf { color: #06287e } /* Name.Function */
.nl { color: #002070; font-weight: bold } /* Name.Label */
.nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.nt { color: #062873; font-weight: bold } /* Name.Tag */
.nv { color: #bb60d5 } /* Name.Variable */
.ow { color: #007020; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #40a070 } /* Literal.Number.Float */
.mh { color: #40a070 } /* Literal.Number.Hex */
.mi { color: #40a070 } /* Literal.Number.Integer */
.mo { color: #40a070 } /* Literal.Number.Oct */
.sb { color: #4070a0 } /* Literal.String.Backtick */
.sc { color: #4070a0 } /* Literal.String.Char */
.sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.s2 { color: #4070a0 } /* Literal.String.Double */
.se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.sh { color: #4070a0 } /* Literal.String.Heredoc */
.si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.sx { color: #c65d09 } /* Literal.String.Other */
.sr { color: #235388 } /* Literal.String.Regex */
.s1 { color: #4070a0 } /* Literal.String.Single */
.ss { color: #517918 } /* Literal.String.Symbol */
.bp { color: #007020 } /* Name.Builtin.Pseudo */
.vc { color: #bb60d5 } /* Name.Variable.Class */
.vg { color: #bb60d5 } /* Name.Variable.Global */
.vi { color: #bb60d5 } /* Name.Variable.Instance */
.il { color: #40a070 } /* Literal.Number.Integer.Long */