body {
	background: #000;
	color: #53d4ff;
	font-family: Verdana;
	font-size:  .93em/1.5 ;
	margin: 2em;
}
h1 {
	color: #aff;
	font-family: Tahoma;
	font-size: 2.5em ;
	text-shadow: rgba(208, 208, 208, .7) 2px 2px 3px;
	text-align: center;
	font-weight: bold;
}
body>div {
	margin: 1em 0;
}
div, p, ol {
	margin: 0;
	padding: 0;
}
a {
	color: #53d4ff;
}
a:hover, a:active {
 color: #fc707b;
}
pre {
	color: #f92;
	word-wrap: break-word;
	white-space: pre-wrap;
	font-family: .93em/1.5 "Droid Sans Mono", "DejaVu Sans Mono", "Lucida Console", "Courier New", monospace;
	border-bottom: solid 1px #444;
}
.comment {
	color: #64e70c;
}
ol {
	list-style: none;
}
li {
	border-top: solid 1px #444;
}
li:hover {
	background: #1a1a1a;
}
.string {
	color: #b8d;
}
.keyword {
	color: #4093cc;
}
.symbol {
	color: #eee;
}
